.navbar {
    background-color: rgb(27, 25, 25);
}

.navbar a {
    color:rgb(173, 224, 255);
}

.navbar a:hover {
    color:rgb(255, 255, 255);
    transition: transform 0.3s ease;
}

.header h2 {
    color: white;
    font-size: 2.5em;
}

/* 
 */

 .book-container {
    display: flex;
    justify-content: space-between;
    object-fit: cover;
  }
  
  .book-image {
    width: 220px; /* Adjust the width as needed */
    height: 320px; /* Adjust the height as needed */
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .book-image:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 5px rgba(93, 193, 255, 0.8);
  }

  .carousel-container {
    width: 100%;/*Make it close possible*/
    /* height: 500px; */
  }
  
  .carousel-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
  }

  .carousel-caption {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
  }